@keyframes comet-in {
  from {
    transform: translate(1000%, -1000%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

@keyframes comet-out {
  from {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  to {
    transform: translate(-1000%, 1000%);
    opacity: 0;
  }
}

@keyframes sway {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(1px, 0px);
  }
  50% {
    transform: translate(1px, 1px);
  }
  75% {
    transform: translate(0px, 1px);
  }
}

@keyframes space-shake {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-5px, 0px) rotate(1deg);
  }
  50% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-5px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  50% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

#loading h1, #loading a {
  color: white;
  text-decoration: none;
  text-align: center;
}

.loading-center {
  width: 100%;
  height: 100%;
  position: absolute;
}

.loading-container {
  z-index: 200;
  width: 100%;
  height: 100%;
  position: absolute;

  transform: rotate(135deg) scaleY(1.9);
}

@media only screen and (max-width: 600px) {
  .loading-container {
    transform: rotate(135deg) scale(1.9, 1.1);
  }
}

.loading-img-container {
  width: 100px;
  height: 100px;
  margin: auto;
  z-index: 300;
}

.loading-info-container {
  z-index: 300;
  position: absolute;
  width: 100%;
  margin: auto;
  top: 60%;
  text-align: center;
}

.loading-img {
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.comet-in {
  -webkit-animation: comet-in 1.5s ease;
          animation: comet-in 1.5s ease;
}

.comet-out {
  animation-fill-mode: forwards !important;
  -webkit-animation: comet-out 2s ease;
          animation: comet-out 2s ease;
}

.jitter {
  -webkit-animation: space-shake 0.3s linear infinite;
          animation: space-shake 0.3s linear infinite;
}

.jitter:focus,
.jitter:hover {
  animation-name: none;
}

#star-container {
  z-index: 200;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.star {
  z-index: 200;
  width: 2px;
  height: 2px;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(-45deg, white, rgba(0, 0, 255, 0));
}

.static-star {
  left: 89.7423%;
  top: 14.8172%;
  animation-duration: 368ms;
  -webkit-animation: sway 2368ms ease-in-out infinite;
          animation: sway 2368ms ease-in-out infinite;
}

.static-star:nth-child(2) {
  left: 65.8895%;
  top: 22.8678%;
  animation-duration: 1950ms;
}

.static-star:nth-child(3) {
  left: 23.0757%;
  top: 91.8545%;
  animation-duration: 423ms;
}

.static-star:nth-child(4) {
  left: 15.2961%;
  top: 58.0573%;
  animation-duration: 1598ms;
}

.static-star:nth-child(5) {
  left: 42.7679%;
  top: 89.9655%;
  animation-duration: 757ms;
}

.static-star:nth-child(6) {
  left: 5.9895%;
  top: 72.9128%;
  animation-duration: 2961ms;
}

.static-star:nth-child(7) {
  left: 28.8812%;
  top: 30.0459%;
  animation-duration: 1679ms;
}

.static-star:nth-child(8) {
  left: 67.6390%;
  top: 20.1657%;
  animation-duration: 895ms;
}

.static-star:nth-child(9) {
  left: 44.0423%;
  top: 17.2183%;
  animation-duration: 2195ms;
}

.static-star:nth-child(10) {
  left: 50.8073%;
  top: 34.3190%;
  animation-duration: 1812ms;
}

.static-star:nth-child(11) {
  left: 40.1368%;
  top: 49.4950%;
  animation-duration: 1390ms;
}

.static-star:nth-child(12) {
  left: 44.9769%;
  top: 77.0784%;
  animation-duration: 1195ms;
}

.static-star:nth-child(13) {
  left: 32.5895%;
  top: 72.9806%;
  animation-duration: 1423ms;
}

.static-star:nth-child(14) {
  left: 26.0195%;
  top: 89.1807%;
  animation-duration: 1073ms;
}

.static-star:nth-child(15) {
  left: 10.1856%;
  top: 85.2348%;
  animation-duration: 1368ms;
}

.static-star:nth-child(16) {
  left: 55.0580%;
  top: 87.0304%;
  animation-duration: 1769ms;
}

.static-star:nth-child(17) {
  left: 34.7401%;
  top: 79.9173%;
  animation-duration: 1595ms;
}

.static-star:nth-child(18) {
  left: 69.7931%;
  top: 83.5866%;
  animation-duration: 1973ms;
}

.static-star:nth-child(19) {
  left: 66.6797%;
  top: 8.3189%;
  animation-duration: 1566ms;
}

.static-star:nth-child(30) {
  left: 37.4422%;
  top: 22.1935%;
  animation-duration: 2189ms;
}

.shooting-star:nth-child(1) {
  top: 100%;
  -webkit-animation: tail 368ms ease-in-out infinite, shooting 368ms ease-in-out infinite;
          animation: tail 368ms ease-in-out infinite, shooting 368ms ease-in-out infinite;
}

.shooting-star:nth-child(2) {
  top: 5%;
  animation-delay: 950ms;
  -webkit-animation: tail 1950ms ease-in-out infinite, shooting 1900ms ease-in-out infinite;
          animation: tail 1900ms ease-in-out infinite, shooting 1900ms ease-in-out infinite;
}

.shooting-star:nth-child(3) {
  top: 10%;
  animation-delay: 784ms;
  -webkit-animation: tail 423ms ease-in-out infinite, shooting 423ms ease-in-out infinite;
          animation: tail 423ms ease-in-out infinite, shooting 423ms ease-in-out infinite;
}

.shooting-star:nth-child(4) {
  top: 15%;
  animation-delay: 172ms;
  -webkit-animation: tail 1598ms ease-in-out infinite, shooting 1598ms ease-in-out infinite;
          animation: tail 1598ms ease-in-out infinite, shooting 1598ms ease-in-out infinite;
}

.shooting-star:nth-child(5) {
  top: 15%;
  animation-delay: 678ms;
  -webkit-animation: tail 757ms ease-in-out infinite, shooting 757ms ease-in-out infinite;
          animation: tail 757ms ease-in-out infinite, shooting 757ms ease-in-out infinite;
}

.shooting-star:nth-child(6) {
  top: 20%;
  animation-delay: 545ms;
  -webkit-animation: tail 2961ms ease-in-out infinite, shooting 2961ms ease-in-out infinite;
          animation: tail 2961ms ease-in-out infinite, shooting 2961ms ease-in-out infinite;
}

.shooting-star:nth-child(7) {
  top: 25%;
  animation-delay: 573ms;
  -webkit-animation: tail 1679ms ease-in-out infinite, shooting 1679ms ease-in-out infinite;
          animation: tail 1679ms ease-in-out infinite, shooting 1679ms ease-in-out infinite;
}

.shooting-star:nth-child(8) {
  top: 30%;
  animation-delay: 655ms;
  -webkit-animation: tail 895ms ease-in-out infinite, shooting 895ms ease-in-out infinite;
          animation: tail 895ms ease-in-out infinite, shooting 895ms ease-in-out infinite;
}

.shooting-star:nth-child(9) {
  top: 35%;
  animation-delay: 128ms;
  -webkit-animation: tail 2195ms ease-in-out infinite, shooting 2195ms ease-in-out infinite;
          animation: tail 2195ms ease-in-out infinite, shooting 2195ms ease-in-out infinite;
}

.shooting-star:nth-child(10) {
  top: 40%;
  animation-delay: 93ms;
  -webkit-animation: tail 1812ms ease-in-out infinite, shooting 1812ms ease-in-out infinite;
          animation: tail 1812ms ease-in-out infinite, shooting 1812ms ease-in-out infinite;
}

.shooting-star:nth-child(11) {
  top: 45%;
  animation-delay: 459ms;
  -webkit-animation: tail 1390ms ease-in-out infinite, shooting 1390ms ease-in-out infinite;
          animation: tail 1390ms ease-in-out infinite, shooting 1390ms ease-in-out infinite;
}

.shooting-star:nth-child(12) {
  top: 50%;
  animation-delay: 93ms;
  -webkit-animation: tail 1195ms ease-in-out infinite, shooting 1195ms ease-in-out infinite;
          animation: tail 1195ms ease-in-out infinite, shooting 1195ms ease-in-out infinite;
}

.shooting-star:nth-child(13) {
  top: 55%;
  animation-delay: 517ms;
  -webkit-animation: tail 1423ms ease-in-out infinite, shooting 1423ms ease-in-out infinite;
          animation: tail 1423ms ease-in-out infinite, shooting 1423ms ease-in-out infinite;
}

.shooting-star:nth-child(14) {
  top: 60%;
  animation-delay: 283ms;
  -webkit-animation: tail 1073ms ease-in-out infinite, shooting 1073ms ease-in-out infinite;
          animation: tail 1073ms ease-in-out infinite, shooting 1073ms ease-in-out infinite;
}

.shooting-star:nth-child(15) {
  top: 65%;
  animation-delay: 310ms;
  -webkit-animation: tail 1368ms ease-in-out infinite, shooting 1368ms ease-in-out infinite;
          animation: tail 1368ms ease-in-out infinite, shooting 1368ms ease-in-out infinite;
}

.shooting-star:nth-child(16) {
  top: 70%;
  animation-delay: 450ms;
  -webkit-animation: tail 1769ms ease-in-out infinite, shooting 1769ms ease-in-out infinite;
          animation: tail 1769ms ease-in-out infinite, shooting 1769ms ease-in-out infinite;
}

.shooting-star:nth-child(17) {
  top: 75%;
  animation-delay: 784ms;
  -webkit-animation: tail 1595ms ease-in-out infinite, shooting 1595ms ease-in-out infinite;
          animation: tail 1595ms ease-in-out infinite, shooting 1595ms ease-in-out infinite;
}

.shooting-star:nth-child(18) {
  top: 80%;
  animation-delay: 701ms;
  -webkit-animation: tail 1973ms ease-in-out infinite, shooting 1973ms ease-in-out infinite;
          animation: tail 1973ms ease-in-out infinite, shooting 1973ms ease-in-out infinite;
}

.shooting-star:nth-child(19) {
  top: 85%;
  animation-delay: 311ms;
  -webkit-animation: tail 1566ms ease-in-out infinite, shooting 1566ms ease-in-out infinite;
          animation: tail 1566ms ease-in-out infinite, shooting 1566ms ease-in-out infinite;
}

.shooting-star:nth-child(20) {
  top: 90%;
  animation-delay: 697ms;
  -webkit-animation: tail 2189ms ease-in-out infinite, shooting 2189ms ease-in-out infinite;
          animation: tail 2189ms ease-in-out infinite, shooting 2189ms ease-in-out infinite;
}