.fancy-font {
  font-family: 'Fancy Script';
}

.animate-spin {
  animation: Spin infinite 2s linear;
}

.square-20 {
  height: 20px;
  width: 20px;
}

.pad-x-small {
  padding: 0.5em;
}

.margin-x-small {
  margin: 0.5em;
}

.pad-small {
  padding: 1em
}

.pad-large {
  padding: 2em;
}

.pad-x-large {
  padding: 4em;
}

.title {
  font-size: 1.5em;
}

.font-x-large {
  font-size: x-large;
}

@keyframes Spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@media screen and (min-width: 320px) and (max-width: 1025px) {

  /* Small */
  .pad-large {
    padding: 1.5em;
  }

  .pad-x-large {
    padding: 2em;
  }

  .pad-small {
    padding: 0.4px;
  }
}