body {
  margin: 0px;
  padding: 0px;
}

@keyframes appear-from-bottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-appear {
  animation-name: appear-from-bottom;
  animation-duration: 2s;
  animation-delay: 0s;
}

.centered-link {
  color: lightgray;
  font-size: 1.2em;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

.center {
  text-align: center;
}