@import "src/scss/include";

.cart-summary__header {
  @include from-breakpoint(large) {
    margin-top: 8px;
  }
}

.cart-summary__item {
  padding: 5px 0;
}

.no-right-padding {
  margin-right: -1rem;
}
